body {
  background: #1a1a1a;
  color: white;
  font-family: 'Helverica', 'Arial', sans-serif;
  margin: 50px 0 0 0;
  text-align: center;
}

.btn {
  background: #1a1a1a;
  border: 1px solid white;
  color: white;
  font-size: 15px;
  height: 60px;
  margin: 30px;
  text-transform: uppercase;
  width: 200px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: white;
  color: #1a1a1a;
}

.grid {
  height: 450px;
  margin: auto;
  width: 450px;
}

.grid-bg {
  background-image: url('../src/images/monks-complete.jpg');
  background-size: 450px 450px;
  background-repeat: no-repeat;
  height: 450px;
  margin-left: calc(50% - 225px);
  position: absolute;
  width: 450px;
  opacity: 0.3;
}

.image {
  height: 150px;
}

.none {
  display: none;
}

.piece {
  border: 1px dashed white;
  height: 150px;
  margin-left: calc(50% - 225px);
  margin-top: 130px;
  position: absolute;
  transition: 0.1s;
  width: 150px;
}

.piece:hover {
  border: 1px solid white;
  z-index: 1;
}
